<html>
    <head>
        <title>Bibliography</title>
    </head>
    <body>
        <h1>Bibliography</h1>
        <br>
        <p>Bartlett, Thomas. "Cheating goes global as essay mills multiply." <i>The Chronicle of Higher Education</i> 55.28 (2009): A1.</p>

        <p>Basile, Jonathan. "About the Library." <i>Library of Babel.</i> N.p., n.d. Web. 06 Dec. 2016. </p>
        <p>Django. Version 1.5, 2013, https://djangoproject.com. Software. 16 December 2016.</p>


        <p>McGuinness, Ross. "Meet the Robots Writing Your News Articles: The Rise of Automated Journalism." <i>Metro.</i> N.p., 26 May 2015. Web. 06 Dec. 2016</p>

        <p>"SMMRY" SMMRY. N.p., n.d. http://smmry.com/. Web. 06 Dec. 2016.</p>



        <br>
    </body>
</html>
