<html>
    <head>
        <title>Essay Maker</title>
    </head>
    <body>
        <div>
        <h1>Essay Maker</h1>
        <h4>Created by Thomas Weihe - December 17, 2016</h4>
        <p>Create your own custom essay using the options below.</p>
        </div>

        <form action="/essay/" method="post">{% csrf_token %}
            <label for="length">Length: (in paragraphs)</label>
            <select id = "length" name="length">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br>
            <label for="complexity">Complexity of Language: (1=simple,3=complex)</label>
            <select id = "complexity" name="complexity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <br>
            <br>
            <input type="submit" value="Create Essay">
        </form>
        <br>
        <br>
        <br>
        <div>
        <h2>Bibliography</h2>
        <p>Bartlett, Thomas. "Cheating goes global as essay mills multiply." <i>The Chronicle of Higher Education</i> 55.28 (2009): A1. Web. 16 Dec. 2016</p>

        <p>Basile, Jonathan. "About the Library." <i>Library of Babel.</i> N.p., n.d. Web. 06 Dec. 2016. </p>
        <p>Django. Version 1.5, 2013, https://djangoproject.com. Software. 16 Dec. 2016.</p>

        <p>Django Girls Tutorial. Updated 16 Dec. 2016, https://www.gitbook.com/book/djangogirls/djangogirls-tutorial/details. Web. 16 Dec. 2016.</p>

        <p>McGuinness, Ross. "Meet the Robots Writing Your News Articles: The Rise of Automated Journalism." <i>Metro.</i> N.p., 26 May 2015. Web. 06 Dec. 2016</p>

        <p>"SMMRY" SMMRY. N.p., n.d. http://smmry.com/. Web. 06 Dec. 2016.</p>



        <br>
        </div>
    </body>
</html>

